PORT=3000

MONGO_URL='mongodb://localhost:27017/test'

ACCESS_TOKEN = 'testtest'
ACCESS_TIME = 100
REFRESH_TOKEN = 'testtest'
REFRESH_TIME = '1d'

COOKIE_SECRET_KEY = 'testtesttest'

ADMIN_PHONE = 'youre_phone_number'
ADMIN_PASSWORD = 'password'

REDIS_HOST = 'localhost'
REDIS_PORT = 6379

CORS_ORIGIN = 'http://localhost:5173'

TELEGRAM_BOT_TOKEN = ''
TELEGRAM_CHAT_ID = ''