PORT=

MONGO_URL=
MONGO_URL2=

ACCESS_TOKEN =
ACCESS_TIME = 
REFRESH_TOKEN = 
REFRESH_TIME = 

COOKIE_SECRET_KEY = 

ADMIN_PHONE = 
ADMIN_PASSWORD = 

CORS_ORIGIN = 

REDIS_HOST = 
REDIS_PORT = 
REDIS_URL=''

TELEGRAM_BOT_SECRET_KEY = ''
TELEGRAM_CHAT_ID = ''

ESKIZ_EMAIL=
ESKIZ_PASSWORD=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=